@charset "utf-8";


@media (max-width: 1820px) {

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/
      /*Header - Header_common*/
      .wp_wrap header .cm_inner {
            width: 100%;
            padding: 0 10px;
      }

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */
      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/
      .wp_wrap footer .footer_inner .footer_content li::after {
            display: none;
      }

      /**********************************************************************************************************************/


}


@media (max-width: 1400px) {


      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/

      /* 이너 사이즈 */
      .wp_wrap .cm_inner {
            width: 100%;
            padding: 0 10px;
      }

      /**********************************************************************************************************************/



      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_gl .gl_inner .layer .layer_des {
            padding: 20px;
      }

      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      .wp_wrap main .s_top .top_inner .sub_nav .p_mnu {
            border-radius: 0;
      }

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/
      .wp_wrap .s_cards .card_list .card {
            justify-content: center;
            padding: 0 20px;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt {
            padding: 0;
      }

      .wp_wrap footer .footer_inner .footer_content li::after {
            display: none;
      }


      /**********************************************************************************************************************/


}





@media (max-width: 1280px) {

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/
      /* SubPage - camp_contact */
      .wp_wrap .cm_camp_contact {
            gap: 50px;
      }


      .wp_wrap .cm_camp_contact>li:first-child {
            max-width: 100%;
            display: flex;
            align-items: center;

      }

      .wp_wrap .cm_camp_contact>li:first-child::after {
            display: none;
      }

      .wp_wrap .cm_camp_contact>li:last-child {
            width: 100%;
      }

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/

      /**********************************************************************************************************************/


}



@media (max-width: 1200px) {

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/
      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/
      /*Header - Navigation*/
      .wp_wrap header .header_inner .nav {
            width: 70%;
      }
      .wp_wrap header.company-header .header_inner .nav {
            width: 33.33333333%;
      }

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/
      .wp_wrap .s_cards .card_list .card .card_inner .card_txt h4 {
            font-size: 26px;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt p {
            font-size: 18px;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt a {
            font-size: 16px;
      }

      .wp_wrap footer .footer_inner .footer_content li::after {
            display: none;
      }

      /**********************************************************************************************************************/


}


@media (max-width: 992px) {

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/
      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/

      /*Header - Mobile_menu*/
      .wp_wrap header .header_inner .mo_btn_box {
            display: block;
      }

      .wp_wrap header .header_inner .mo_btn_box button {
            background: none;
      }

      .wp_wrap header .header_inner .mo_btn_box button i {}



      /*Header - Logo*/

      .wp_wrap header .header_inner .logo a {
            justify-content: center;
            padding: 15px 0 14px;
            font-size: 22px;
      }
      .wp_wrap header .header_inner .logo a img {
            width: 172px;
            display: block;
      }


      /*Header - Navigation*/
      .wp_wrap header .header_inner .nav {
            display: none;
      }

      /*Header - Tell*/
      .wp_wrap header .header_inner .mo_tell {
            display: block;
      }

      .wp_wrap header .header_inner .mo_tell a {display:block; width:50px; padding:0;}

      .wp_wrap header .header_inner .mo_tell a img {}

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .slide_txt h2 {
            font-size: 43px;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .slide_txt p {
            font-size: 20px;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .short a {
            display: none;
      }

      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_gl .gl_inner {
            display: block;
      }

      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/
      .wp_wrap footer .footer_inner .footer_content li::after {
            display: none;
      }

      /**********************************************************************************************************************/


}


@media (max-width: 768px) {

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/
      .wp_wrap .cm_camp_contact li {
            width: 100%;
      }

      .wp_wrap .cm_sub_tit p {
            font-size: 15px;
      }

      .wp_wrap .cm_camp_contact li>.noti_lsit {
            line-height: 16px;
      }

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/

      .wp_wrap #quick_box {
            top: unset;
            right: 0;
            left: 0;
            bottom: 0;
            transform: translate(0, 0);
      }

      .wp_wrap #quick_box .quik_list {
            display: grid;
            grid-template-columns: repeat(5, 1fr);

      }


      .wp_wrap #quick_box .quik_list .list_top {
            display: flex;
            justify-content: center;
            align-items: center;
      }

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      .wp_wrap main {}

      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_slide {
            position: relative;
      }



      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_gl {
            padding: 60px 0;
      }



      .wp_wrap main .s_gl .gl_inner .layer {
            grid-row-start: unset;
            grid-row-end: unset;
            margin-bottom: 8px;
      }

      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_exp {}



      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/
      .wp_wrap main .s_greetings .greetings_inner .img_list {
            padding: 33px 0;
      }

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/
      .wp_wrap main .s_usage .usage_inner .cont_list li .img_frame {
            display: none;
      }

      .wp_wrap main .s_usage .usage_inner .cont_list li .img_frame::after {
            display: none;
      }

      .wp_wrap main .s_usage .usage_inner .cont_list li .txt_frame {
            line-height: 22px;
            letter-spacing: -1px;
      }

      .wp_wrap main .s_usage .usage_inner .cont_list li .txt_frame h4 {
            font-size: 17px;
            margin-bottom: 10px;
      }

      .wp_wrap main .s_usage .usage_inner .cont_list li .txt_frame p {
            font-size: 13px;
      }

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/
      .wp_wrap main .s_charge .charge_inner .cont_table table tr th {
            font-size: 11px;
      }

      .wp_wrap main .s_charge .charge_inner .cont_table table tr td {
            font-size: 10px;
            padding: 15px 0;
      }

      .wp_wrap main .s_charge .charge_inner .notification .notification_txt p {
            font-size: 14px;
            line-height: 22px;
      }

      .wp_wrap main .s_charge .charge_inner .notification {
            margin-top: 30px;
      }

      .wp_wrap main .s_facility .facility_inner .cont_card_box .fee_table {
            overflow-x: scroll;
      }

      .wp_wrap main .s_facility .facility_inner .cont_card_box .fee_table table {
            width: 768px;
      }


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/
      .wp_wrap main .s_facility .facility_inner .cont_card_box .cont_card_list>li {
            margin-bottom: 40px;
      }

      .wp_wrap main .s_facility .facility_inner .cont_card_box .cont_card_list li .card_inner {
            display: block;
      }

      .wp_wrap main .s_facility .facility_inner .cont_card_box .cont_card_list li .card_inner .txt_cont_box {
            padding: 20px 0;
      }

      .wp_wrap main .s_facility .facility_inner .cont_card_box .cont_card_list li .card_inner .txt_cont_box .txt_cont_group dl {
            margin-bottom: 10px;
      }

      .wp_wrap main .s_facility .facility_inner .cont_card_box .cont_card_list li .card_inner .txt_cont_box a {
            width: 180px;
            height: 55px;
            font-size: 18px;
      }

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/
      /* Main - S_Cards/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap .s_cards {}

      .wp_wrap .s_cards .card_list .card {
            justify-content: flex-start;
      }

      .wp_wrap .s_cards .card_list {
            display: block;
      }




      /**********************************************************************************************************************/




}


@media (max-width: 576px) {

.wp_wrap footer .footer_inner .copy { padding-bottom:40px;}

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/
      .wp_wrap .s_sub_containter {
            padding: 60px 0;
      }

      .wp_wrap .cm_camp_contact {
            padding: 20px 10px;
      }

      .wp_wrap .cm_camp_contact li {
            width: 100%;
      }

      .wp_wrap .cm_camp_contact li>a>p {
            letter-spacing: -1px;
      }

      .wp_wrap .cm_camp_contact>li:first-child {
            /*margin-bottom: 40px;*/
      }

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/
      .wp_wrap main .s_top .top_inner .sub_nav .p_mnu {
            padding: 18px 0;
            display: none;
      }

      .wp_wrap main .s_top {
            padding-bottom: 50px;
      }

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      .wp_wrap main .s_slide {
            /* height: 295px; */
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner {
            justify-content: center;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .slide_txt {
            padding: 10px 0;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .slide_txt h2 {
            font-size: 22px;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .slide_txt p {
            font-size: 15px;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .short a {
            display: none;
      }

      .wp_wrap main .s_slide .slide_txt_box .slide_txt_inner .txt_frame .slide_btn button {
            width: 25px;
            height: 25px;
      }

      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */

      .wp_wrap main .s_gl .gl_inner {
            display: block;
      }

      .wp_wrap main .s_gl .s_tit_box h3 {
            font-size: 20px;
      }

      .wp_wrap main .s_gl .s_tit_box p {
            font-size: 15px;
      }

      .wp_wrap main .s_gl .gl_inner .layer {
            height: 163px;
      }

      .wp_wrap main .s_gl .gl_inner .layer .layer_des h4 {
            font-size: 20px;
            font-weight: 600;
            text-shadow: 0 0 3px black;
      }

      .wp_wrap main .s_gl .gl_inner .layer .layer_des p {
            font-size: 12px;
      }

      .wp_wrap main .s_gl .gl_inner .layer .layer_des .short a {
            width: 108px;
            height: 36px;
            font-size: 10px;
      }

      .wp_wrap main .s_gl .gl_inner .layer .layer_des {
            padding: 12px 24px;
      }

      .wp_wrap main .s_gl .gl_inner .layer .layer_des .short {
            margin-top: 12px;
      }

      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */

      .wp_wrap main .s_exp .exp_inner .lt_box .txt_box h3 {
            font-size: 30px;
      }

      .wp_wrap main .s_exp .exp_inner .lt_box .txt_box p {
            font-size: 30px;
      }

      .wp_wrap main .s_exp .exp_inner .rt_box .txt_box h4 {
            font-size: 21px;
      }

      .wp_wrap main .s_exp .exp_inner .rt_box .txt_box p {
            font-size: 13px;
      }

      .wp_wrap main .s_exp .exp_inner .rt_box .txt_box a {
            font-size: 12px;
      }

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/
      .wp_wrap main .s_top .cm_inner {
            padding: 0;
      }

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/
      .wp_wrap main .s_top .top_inner .txt_box h2 {
            font-size: 22px; letter-spacing:0;
      }

      .wp_wrap main .s_top .top_inner .txt_box p {
            font-size: 15px; 
      }

      .wp_wrap main .s_top .top_inner .sub_nav .p_mnu li a {
            font-size: 17px;
      }

      .wp_wrap .cm_camp_contact>li:first-child::after {
            display: none;
      }

      .wp_wrap .cm_camp_contact li>.noti_lsit>li>a {
            font-size: 11px;
      }

      .wp_wrap main .s_top .top_inner .txt_box {
            text-align: center;
      }

      /* ///////////////////////////// Sub - S_greetings /////////////////////////*/
      .wp_wrap .cm_sub_tit h3 {
            font-size: 31px;
            font-family: 'Pretendard-Bold';
      }

      .wp_wrap main .s_greetings .greetings_inner .greetings_sub_txt {
            font-size: 20px;
            line-height: 32px;
            letter-spacing: -1px;
      }

      .wp_wrap main .s_greetings .greetings_inner .greetings_des {
            font-size: 17px;
      }

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      .wp_wrap main .s_way .way_inner .map_info li {
            padding: 0;
            margin-bottom: 20px;
      }

      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/
      .wp_wrap .s_cards .card_list .card {
            height: unset;
            padding: 27px 10px;
            background-size: 70%;
            background-position: 105% 100%;
      }

      .wp_wrap .s_cards .card_list .card:last-child {
            background-size: 60%;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt p .br_no {
            display: block;
      }

      .wp_wrap footer .footer_inner .footer_content li::after {
            display: none;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt h4 {
            font-size: 19px;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt p {
            height: 160px;
            font-size: 15px;
            line-height: 20px;
      }

      .wp_wrap .s_cards .card_list .card .card_inner .card_txt a {
            margin-top: 21px;
            font-size: 16px;
      }

      .wp_wrap footer .footer_inner .footer_content {
            justify-content: flex-start;
      }

      .wp_wrap footer .footer_inner .footer_content li {
            width: 100%;
            font-size: 15px;
      }

      .wp_wrap footer .footer_inner .footer_content li .br_no {
            display: block;
      }


      /**********************************************************************************************************************/

}

@media (max-width: 320px) {

      /**********************************************************************************************************************/
      /* 공통 스타일 */
      /**********************************************************************************************************************/
      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Header */
      /**********************************************************************************************************************/


      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Main */
      /**********************************************************************************************************************/
      /* Main - Common*/
      /* Main - S_Slide/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Gl/////////////////////////////////////////////////////////////////////////// */
      /* Main - S_Exp/////////////////////////////////////////////////////////////////////////// */

      /**********************************************************************************************************************/


      /**********************************************************************************************************************/
      /* Sub */
      /**********************************************************************************************************************/
      /* ///////////////////////////// Sub - COMMON ///////////////////////////////*/

      /* ++++++++++++++++++++++++++++++ About US+++++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Top ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_greetings ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_way ///////////////////////////////*/
      /* +++++++++++++++++++++++++++ About US End+++++++++++++++++++++++++++++++ */


      /* +++++++++++++++++++++++++++++ 캠핑장 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_usage ///////////////////////////////*/

      /* ///////////////////////////// Sub - S_charge ///////////////////////////////*/


      /* +++++++++++++++++++++++++++ 캠핑장 안내 End++++++++++++++++++++++++++++++ */



      /* +++++++++++++++++++++++++++++ 시설안내 안내 +++++++++++++++++++++++++++++++ */
      /* ///////////////////////////// Sub - S_Facility ///////////////////////////////*/

      /* +++++++++++++++++++++++++++ 시설안내 안내 End++++++++++++++++++++++++++++++ */

      /**********************************************************************************************************************/

      /**********************************************************************************************************************/
      /* Footer */
      /**********************************************************************************************************************/

      /**********************************************************************************************************************/


}